/* Add css styling */
body {
    background-color: rgb(230, 229, 212);
    max-width: fit-content;
}

.heading{
    background-color: rgb(223, 99, 10);
    text-align: left;
    padding: 25px;
}

.Food-recipe{
    font-size: 25px;
}

 img {
    height: 400px;
    width: auto;
 }
 .sub-heading{
    background-color: black;
    color: white;
    padding: 20px;
 }

 .Jollof{
    background-color: black;
 }