/* Add css styling */
body {
    background-color: rgb(230, 229, 212);
    max-width: fit-content;
}

.heading{
    background-color: rgb(223, 99, 10);
    text-align: left;
    margin: 0;
    padding: 25px;
}

.Food-recipe{
    font-size: 25px;
}

 img {
    max-width: 300px;
    height: 300px;
    width: auto;
    /* background-color: white; */
 }
.food-3{
    height: 300px;
    /* width: auto; */
}

 .sub-heading{
    background-color: black;
    color: white;
    padding: 20px;
 }

 .Jollof{
    background-color: black;
 }